Portalnet/Portalnet_Beta_v1.1/WSDL Services/Aplication/Worker WSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/WSDL.xsd" xmlns:tns="http://xmlns.example.com/1563529189768" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/Worker.xsd2" xmlns:ns3="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/Client.xsd" targetNamespace="http://xmlns.example.com/1563529189768">
    <import namespace="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/Worker.xsd2" location="../../Resources/Schemas/Worker.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/WSDL.xsd" location="../../Resources/Schemas/WSDL.xsd"/>
    <import namespace="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/Client.xsd" location="../../Resources/Schemas/Client.xsd"/>
    <message name="Change_Worker_Password_In_msg">
        <part name="header" element="ns:Standard_In_MSG"/>
        <part name="body" element="ns:Change_Password"/>
    </message>
    <message name="Change_Worker_Password_Out_msg">
        <part name="header" element="ns:Standard_Out_MSG"/>
    </message>
    <message name="Worker_Info_In_msg">
        <part name="header" element="ns:Standard_In_MSG"/>
        <part name="body" element="ns:Request_Body"/>
    </message>
    <message name="Worker_Info_Out_msg">
        <part name="header" element="ns:Standard_Out_MSG"/>
        <part name="body" element="ns2:Get_Worker_W"/>
    </message>
    <message name="Change_Client_In_msg">
        <part name="header" element="ns:Standard_In_MSG"/>
        <part name="body" element="ns3:Change_All_Client_Info_W"/>
    </message>
    <message name="Change_Client_Out_msg">
        <part name="header" element="ns:Standard_Out_MSG"/>
    </message>
    <message name="Associate_Service_In_msg">
        <part name="header" element="ns:Standard_In_MSG"/>
        <part name="body" element="ns3:New_Associated_Service_W"/>
    </message>
    <message name="Associate_Service_Out_msg">
        <part name="header" element="ns:Standard_Out_MSG"/>
    </message>
    <message name="Change_Associated_Service_In_msg">
        <part name="header" element="ns:Standard_In_MSG"/>
        <part name="body" element="ns3:Modify_Associated_Service_W"/>
    </message>
    <message name="Change_Associated_Service_Out_msg">
        <part name="header" element="ns:Standard_Out_MSG"/>
    </message>
    <message name="Delete_Associated_Service_In_msg">
        <part name="header" element="ns:Standard_In_MSG"/>
        <part name="body" element="ns:Request_Body"/>
    </message>
    <message name="Delete_Associated_Service_Out_msg">
        <part name="header" element="ns:Standard_Out_MSG"/>
    </message>
    <message name="List_All_Clients_In_msg">
        <part name="header" element="ns:Standard_In_MSG"/>
    </message>
    <message name="List_All_Clients_Out_msg">
        <part name="header" element="ns:Standard_Out_MSG"/>
        <part name="body" element="ns3:Get_Client_All_Info_W"/>
    </message>
    <portType name="WorkerGetters">
        <operation name="GetWorkerInfo">
            <input message="tns:Worker_Info_In_msg"/>
            <output message="tns:Worker_Info_Out_msg"/>
        </operation>
        <operation name="GetAllClients">
            <input message="tns:List_All_Clients_In_msg"/>
            <output message="tns:List_All_Clients_Out_msg"/>
        </operation>
    </portType>
    <portType name="WorkerSetters">
        <operation name="ModifyClient">
            <input message="tns:Change_Client_In_msg"/>
            <output message="tns:Change_Client_Out_msg"/>
        </operation>
        <operation name="AssociateNewService">
            <input message="tns:Associate_Service_In_msg"/>
            <output message="tns:Associate_Service_Out_msg"/>
        </operation>
        <operation name="ModifyAssociatedService">
            <input message="tns:Change_Associated_Service_In_msg"/>
            <output message="tns:Change_Associated_Service_Out_msg"/>
        </operation>
        <operation name="RemoveAssociatedService">
            <input message="tns:Delete_Associated_Service_In_msg"/>
            <output message="tns:Delete_Associated_Service_Out_msg"/>
        </operation>
        <operation name="ModifyPassword">
            <input message="tns:Change_Worker_Password_In_msg"/>
            <output message="tns:Change_Worker_Password_Out_msg"/>
        </operation>
    </portType>
</definitions>