Portalnet/SOAPUI WSDL Files/Client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1563555360192" xmlns:ns0="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/WSDL.xsd" xmlns:ns1="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/Client.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" name="Untitled" targetNamespace="http://xmlns.example.com/1563555360192">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/WSDL.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/WSDL.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Change_Password">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="newPassword" type="xs:string"/>
                    <xs:attribute name="oldPassword" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Login_In">
                <xs:complexType>
                    <xs:attribute name="email" type="xs:string"/>
                    <xs:attribute name="password" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Login_Out">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Standard_Out_MSG"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="role" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Request_Body">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Standard_In_MSG">
                <xs:complexType>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="role" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Standard_Out_MSG">
                <xs:complexType>
                    <xs:attribute name="error" type="xs:string"/>
                    <xs:attribute name="message" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/Client.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/Portalnet_Beta_v1.0/Resources/Schemas/Client.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Associated_Service_Info">
                <xs:complexType>
                    <xs:attribute name="associatedServiceID" type="xs:string"/>
                    <xs:attribute name="modificationDate" type="xs:string"/>
                    <xs:attribute name="serviceID" type="xs:string"/>
                    <xs:attribute name="workerNumber" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Change_All_Client_Info_W">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Client_Personal_Info"/>
                    </xs:sequence>
                    <xs:attribute name="active" type="xs:string"/>
                    <xs:attribute name="dishonest" type="xs:string"/>
                    <xs:attribute name="waitConfirmation" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Client_All_Info">
                <xs:complexType>
                    <xs:attribute name="accessionDate" type="xs:string"/>
                    <xs:attribute name="active" type="xs:string"/>
                    <xs:attribute name="address" type="xs:string"/>
                    <xs:attribute name="birthDate" type="xs:string"/>
                    <xs:attribute name="clientName" type="xs:string"/>
                    <xs:attribute name="clientNumber" type="xs:string"/>
                    <xs:attribute name="dishonest" type="xs:string"/>
                    <xs:attribute name="email" type="xs:string"/>
                    <xs:attribute name="gender" type="xs:string"/>
                    <xs:attribute name="locality" type="xs:string"/>
                    <xs:attribute name="mobileNumber" type="xs:string"/>
                    <xs:attribute name="nif" type="xs:string"/>
                    <xs:attribute name="phoneNumber" type="xs:string"/>
                    <xs:attribute name="postalCode" type="xs:string"/>
                    <xs:attribute name="waitConfirmation" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Client_Personal_Info">
                <xs:complexType>
                    <xs:attribute name="accessionDate" type="xs:string"/>
                    <xs:attribute name="address" type="xs:string"/>
                    <xs:attribute name="birthDate" type="xs:string"/>
                    <xs:attribute name="clientName" type="xs:string"/>
                    <xs:attribute name="clientNumber" type="xs:string"/>
                    <xs:attribute name="email" type="xs:string"/>
                    <xs:attribute name="gender" type="xs:string"/>
                    <xs:attribute name="locality" type="xs:string"/>
                    <xs:attribute name="mobileNumber" type="xs:string"/>
                    <xs:attribute name="nif" type="xs:string"/>
                    <xs:attribute name="phoneNumber" type="xs:string"/>
                    <xs:attribute name="postalCode" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Get_Associated_Service_C">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Associated_Service_Info" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Get_Associated_Service_W">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Associated_Service_Info" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Get_Client_All_Info_W">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Client_All_Info" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Get_Client_Info_C">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Client_Personal_Info" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Modify_Associated_Service_W">
                <xs:complexType>
                    <xs:attribute name="associatedServiceID" type="xs:string"/>
                    <xs:attribute name="modificationDate" type="xs:string"/>
                    <xs:attribute name="serviceID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Modify_Client_CW">
                <xs:complexType>
                    <xs:attribute name="address" type="xs:string"/>
                    <xs:attribute name="email" type="xs:string"/>
                    <xs:attribute name="id" type="xs:string"/>
                    <xs:attribute name="locality" type="xs:string"/>
                    <xs:attribute name="mobileNumber" type="xs:string"/>
                    <xs:attribute name="phoneNumber" type="xs:string"/>
                    <xs:attribute name="postalCode" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="New_Associated_Service_W">
                <xs:complexType>
                    <xs:attribute name="clientNumber" type="xs:string"/>
                    <xs:attribute name="modificationDate" type="xs:string"/>
                    <xs:attribute name="serviceID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="New_Client_W">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns1:Change_All_Client_Info_W"/>
                    </xs:sequence>
                    <xs:attribute name="modificationDate" type="xs:string"/>
                    <xs:attribute name="password" type="xs:string"/>
                    <xs:attribute name="serviceID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Client Service">
        <wsdl:port name="ClientSettersEndpoint" binding="tns:ClientSettersEndpointBinding">
            <soap:address location="http://localhost:9010/WSDL%2520Services/Aplication/Client%2520Service.serviceagent/ClientSettersEndpoint"/>
        </wsdl:port>
        <wsdl:port name="ClientGettersEndpoint" binding="tns:ClientGettersEndpointBinding">
            <soap:address location="http://localhost:9010/WSDL%2520Services/Aplication/Client%2520Service.serviceagent/ClientGettersEndpoint"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="ClientSetters">
        <wsdl:operation name="ModifyPersonalInfo">
            <wsdl:input message="tns:Change_Personal_Info_In_msg"/>
            <wsdl:output message="tns:Change_Personal_Info_Out_msg"/>
        </wsdl:operation>
        <wsdl:operation name="ModifyPassword">
            <wsdl:input message="tns:Change_Client_Password_In_msg"/>
            <wsdl:output message="tns:Change_Client_Password_Out_msg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ClientGetters">
        <wsdl:operation name="GetPersonalInfo">
            <wsdl:input message="tns:Client_Personal_Info_In_msg"/>
            <wsdl:output message="tns:Client_Personal_Info_Out_msg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ClientSettersEndpointBinding" type="tns:ClientSetters">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ModifyPersonalInfo">
            <soap:operation style="document" soapAction="/WSDL%2520Services/Aplication/Client%2520Service.serviceagent/ClientSettersEndpoint/ModifyPersonalInfo"/>
            <wsdl:input>
                <soap:body use="literal" parts="header body"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="header"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ModifyPassword">
            <soap:operation style="document" soapAction="/WSDL%2520Services/Aplication/Client%2520Service.serviceagent/ClientSettersEndpoint/ModifyPassword"/>
            <wsdl:input>
                <soap:body use="literal" parts="header body"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="header"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ClientGettersEndpointBinding" type="tns:ClientGetters">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetPersonalInfo">
            <soap:operation style="document" soapAction="/WSDL%2520Services/Aplication/Client%2520Service.serviceagent/ClientGettersEndpoint/GetPersonalInfo"/>
            <wsdl:input>
                <soap:body use="literal" parts="header body"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="header body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Change_Personal_Info_In_msg">
        <wsdl:part name="header" element="ns0:Standard_In_MSG"/>
        <wsdl:part name="body" element="ns1:Modify_Client_CW"/>
    </wsdl:message>
    <wsdl:message name="Change_Personal_Info_Out_msg">
        <wsdl:part name="header" element="ns0:Standard_Out_MSG"/>
    </wsdl:message>
    <wsdl:message name="Change_Client_Password_In_msg">
        <wsdl:part name="header" element="ns0:Standard_In_MSG"/>
        <wsdl:part name="body" element="ns0:Change_Password"/>
    </wsdl:message>
    <wsdl:message name="Change_Client_Password_Out_msg">
        <wsdl:part name="header" element="ns0:Standard_Out_MSG"/>
    </wsdl:message>
    <wsdl:message name="Client_Personal_Info_In_msg">
        <wsdl:part name="header" element="ns0:Standard_In_MSG"/>
        <wsdl:part name="body" element="ns0:Request_Body"/>
    </wsdl:message>
    <wsdl:message name="Client_Personal_Info_Out_msg">
        <wsdl:part name="header" element="ns0:Standard_Out_MSG"/>
        <wsdl:part name="body" element="ns1:Get_Client_Info_C"/>
    </wsdl:message>
</wsdl:definitions>